body {
  font-family: Arial, sans-serif;
  background-color: #c92f2f; /* Replace #ffffff with your desired background color */
}

.header {
  background-color: #f8f9fa;
  padding: 2vw;
  text-align: center;
  border-bottom: 1px solid #ddd;
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
}

.header h1, .header h2 {
  margin: 0;
}

.header p {
  margin: 5px 0;
}

#myChart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  height: auto; 
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  height: auto; 
}
